/*
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #6e91b7;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}



h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

*/

.flex-container {
    display: flex;
    justify-content: space-around;
}


.chartCont {
    margin: 0px 12px;
    flex-direction: row;
    flex-wrap: wrap;  
}

.chart-left {
    align-self: flex-start;
}

.chart-right {
    align-self: flex-end;
}
