
body {
  padding: 0;
}
h2 {
    text-align: center;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.chartCont {
    margin: 0px 12px;
}

.chart-left {
    align-self: flex-start;
}

.chart-right {
    align-self: flex-end;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }
 
}
