<div class="row">
    <div><h2>All Issues View</h2></div>
    <div>
   
    <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search The Table" ng-model="searchTable">
          </div>      
        </div>
  </form>
      
       <div class="table-responsive">
          <table class="ui compact table">  
            <thead>
              <tr>
                <td>
                  <a href="#" ng-click="sortType = 'customerName'; sortReverse = !sortReverse">
                    Customer Name 
                    <span ng-show="sortType == 'customerName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'customerName' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = ''; sortReverse = !sortReverse">
                        Customer Email 
                        <span ng-show="sortType == '' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == '' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'employeeName'; sortReverse = !sortReverse">
                  Employee Name 
                    <span ng-show="sortType == 'employeeName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'employeeName' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                
                <td>
                  <a href="#" ng-click="sortType = 'submissionTime'; sortReverse = !sortReverse">
                    Submmission Time 
                    <span ng-show="sortType == 'submissionTime' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'submissionTime' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                  Issue Status 
                    <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                <td>
                  <a href="#" ng-click="sortType = 'closeTime'; sortReverse = !sortReverse">
                  Close Time 
                    <span ng-show="sortType == 'closeTime' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'closeTime' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </td>
                
                <td>
                    <a href="#" ng-click="sortType = ''; sortReverse = !sortReverse">
                        Issue Description
                        <span ng-show="sortType == '' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == '' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                    
                </td>
              </tr>
            </thead>
            
            <tbody>
              <tr ng-repeat="issue in issues | orderBy:sortType:sortReverse | filter:searchTable">
                <td>{{issue.customerName}}</td>
                <td> {{issue.customerEmail}}</td>
                <td>{{issue.employeeName}}</td>
                <td>{{issue.submissionTime}}</td>
                <td>{{issue.status}}</td>
                <td>{{issue.closeTime}}</td>
                <td>{{issue.issueDescription}}</td>
              </tr>
            </tbody>
            
          </table>
      
        </div>
    </div>
</div>