<div class="row">
    <div><h2>All Issues View</h2></div>
    <div class="">
   
        <!--<div class="table table-sm1">
        	<table ng-table="tableParams" class="ui small table" show-filter="true">
            
        	   <tr ng-repeat="issue in $data">
                <td title="'Customer Name'" filter="{ customerName: 'text'}" sortable="'customerName'">
                    {{issue.customerName}}
                </td>
                <td title="'Customer Email'" filter="{ customerEmail: 'text'}" >
                    {{issue.customerEmail}}
                </td>
                <td title="'Employee Name'" filter="{ employeeName: 'text'}" sortable="'employeeName'">
                    {{issue.employeeName}}
                </td>
                
                <td title="'Submmission Time'" filter="{ submissionTime: 'text'}" sortable="'submissionTime'" >
                    {{issue.submissionTime}}
                </td>
                <td title="'Issue Status'" filter="{ status: 'text'}" sortable="'status'">
                    {{issue.status}}
                </td>
                <td title="'Close Time'" filter="{ closeTime: 'text'}" sortable="'closeTime'"> 
                    {{issue.closeTime}}
                </td>

                <td title="'Issue Description'" filter="{ issueDescription: 'text'}" >
                    {{issue.issueDescription}}
                </td>
                
            </tr>
        	</table>
        </div>-->

        <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search The Table" ng-model="searchFish">
      </div>      
    </div>
  </form>
  
   <div class="table-responsive">
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Customer Name 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          Customer Email 
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
          Employee Name 
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Submmission Time 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse">
          Issue Status 
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
          Close Time 
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        
        <td>
          <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
          Issue Description 
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
        <td>{{ roll.name }}</td>
        <td>{{ roll.fish }}</td>
        <td>{{ roll.tastiness }}</td>
        <td>{{ roll.name }}</td>
        <td>{{ roll.fish }}</td>
        <td>{{ roll.tastiness }}</td>
        <td>{{ roll.tastiness }}</td>
      </tr>
    </tbody>
    
  </table>
  
    </div>
    </div>
</div>