
<div id='row'>

    <div><h2>Key Metrics</h2></div>

    <div id='reported-issues-chart-container' >
        <fusioncharts

            caption="Number Of Reported Issues",
            subcaption="In The Last 3 weeks",
            xaxisname="Date",
            yaxisname="Reported Issues",
            showvalues="0",
            theme="ocean", 
            type="column2d"
            width="100%"
            height="500" 
            config="{{chartoptions}}"
            dataSource={{reportedIssuesData}}
        >
        </fusioncharts>
    </div>


    <div  id='open-issues-chart-container'>
        <fusioncharts
            type= "area2d"
            width="100%"
            height="500"
            dataSource={{openIssuesData}}   
        >   
        </fusioncharts>
    </div>

    <div  id='paying-customers-chart-container'>
        <fusioncharts
            type= "line"
            width="100%"
            height="500"
            config="{{chartoptions}}"
            dataSource={{payingCustomersData}}
        >       
        </fusioncharts>
    </div>
   
</div>