<div class="row table-container">
    <div><h2>All Issues View</h2></div>
	<table ng-table="tableParams" class="table table-striped table-responsive" show-filter="true">
	
	   <tr ng-repeat="issue in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{issue.name}}
        </td>
        <td title="'Priority'" filter="{ priority: 'number'}" sortable="'priority'">
            {{issue.priority}}
        </td>
        <td title="'Severity'" filter="{ severity: 'number'}" sortable="'severity'">
            {{issue.severity}}
        </td>
        <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
            {{issue.status}}
        </td>
    </tr>
	</table>
</div>