
<div id='row'>
    
    <div class="flex-container col-lg-6" id='content11'>
        <div><h2>Key Metrics</h2></div>
        <div class="chartCont"> 
            <div class='chart-left' id='sales-chart-container'>
                <fusioncharts
                    type= "column2d"
                    renderAt= "sales-chart-container"
                    width={{keyMetrics.chartWidth}}
                    height={{keyMetrics.chartHeight}} 
                    dataFormat = "{{keyMetrics.dataType}}"
                    dataSource="{{salesData}}"
                >
                </fusioncharts>
            </div>

            <!--<div class="chart-right" id='trans-chart-container'>
                <fusioncharts
                    type= "area2d"
                    renderAt= "trans-chart-container"
                    width={{keyMetrics.chartWidth}}
                    height={{keyMetrics.chartHeight}} 
                    dataFormat = "{{keyMetrics.dataType}}"
                    dataSource="{{transChartData}}"    
                >
                </fusioncharts>
            </div> -->

        </div>

        <div class="chartCont">

            <div class="chart-left" id='daily-footfall-chart-container'>
                <fusioncharts
                    type= "area2d"
                    renderAt= "daily-footfall-chart-container"
                    width={{keyMetrics.chartWidth}}
                    height={{keyMetrics.chartHeight}} 
                    dataFormat = "{{keyMetrics.dataType}}"
                    dataSource="{{dailyFootfallChart}}"    
                >
                </fusioncharts>
            </div>

            <div class="chart-right" id='cs-chart-container'>
                <fusioncharts
                    type= "line"
                    renderAt= "cs-chart-container"
                    width={{keyMetrics.chartWidth}}
                    height={{keyMetrics.chartHeight}} 
                    dataFormat = "{{keyMetrics.dataType}}"
                    dataSource="{{dailyCSatChart}}"    
                >
                </fusioncharts>
            </div>
        </div>
    </div>        
   
</div>