
<div id='row'>

<div >
 <fusioncharts  id="mychartcontainer"  chartid="mychart" width="400"  height="200" type="column2d" datasource="{{myDataSource}}" ></fusioncharts>
</div>



    <!--<div class="">
        <div><h2>Key Metrics</h2></div>
        <div class="col-xs-12 col-md-12 col-lg-12"> 
            <div id='reported-issues-chart-container' >
                <fusioncharts 
                    type= "column2d"
                    width="600"
                    height="500" 
                    dataSource=""
                    config="{{chartoptions}}"
                    dataSource={{reportedIssuesData}}
                >

                </fusioncharts>
            </div>

        </div>

        <div class="">

            <div class="col-xs-12 col-md-12 col-lg-12" id='open-issues-chart-container'>
                <fusioncharts
                    type= "area2d"
                    width="600"
                    height="500"
                    dataSource=""
                    config="{{chartoptions}}" 
                    dataSource={{openIssuesData}}   
                >
               
                </fusioncharts>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-12" id='paying-customers-chart-container'>
                <fusioncharts
                    type= "line"
                    width="600"
                    height="500"
                    dataSource="" 
                    config="{{chartoptions}}"
                    dataSource={{payingCustomersData}}
                >
                
                </fusioncharts>
            </div>
        </div>
    </div>  -->  
   
</div>